<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-sm-6">
            <h3>¿Que te Ofrecemos?</h3>
            <p>
                fruta natural seleccionada , cosechada en el momento optimo de maduración, elaborada,
                y congelada. Nuestros productos son ricos en vitaminas, minerales,
                antioxidantes, proteína vegetal, fibra, sin azúcar ni saborizantes , sin colorantes ni preservantes
            </p>

        </div>
        <div class="col-sm-6">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.dvF6QPaKAF4sz_MwDaxl2QHaC3&pid=Api&P=0&w=300&h=300"
                            class="d-block w-100" width="500" height="310" id="my-border" alt="Frutas">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Frutas jugosas</h5>
                            <p>disfruta de las mejores pulpas de Frutas...!</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>